@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Inter", sans-serif;
}

main {
  min-height: 100vh;
  background-color: rgb(238, 238, 238);

  div.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 296px;

    h1 {
      font-size: 96px;
      color: rgba(0, 127, 219, 1);
      font-weight: 700;
    }
  }

  div.card {
    width: 430px;
    height: 636px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin: 162px 0;

    div.image {
      background-image: url(./images/flowers.png);
      height: 202px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      padding-right: 28px;
      padding-bottom: 13px;

      span,
      h2 {
        font-family: "Russo One", sans-serif;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
      }
      span {
        font-size: 18px;
      }
      h2 {
        font-size: 48px;
      }
    }

    div.text {
      padding: 23px 28px;
    }

    div.note {
      display: flex;
      gap: 10px;
      div.box {
        width: 275px;
        height: 49px;
        border-radius: 5px;
        background-color: rgba(235, 239, 242, 1);
        display: flex;
        gap: 10px;
        padding: 14.5px;
        margin-bottom: 36px;
        img.yes {
          width: 24px;
          height: 24px;
          padding-bottom: 3px;
        }
        p {
          font-weight: 400;
          font-size: 16px;
          color: rgba(136, 136, 136, 1);
          width: 38px;
        }
      }
      button {
        width: 88px;
        height: 49px;
        border-radius: 5px;
        background-color: rgba(32, 238, 176, 1);
        border: none;
        img {
          width: 40px;
          height: 19px;
        }
      }
    }

    div.list {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
      div.text_two {
        width: 149px;
        p {
          color: rgba(13, 13, 13, 1);
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 5px;
        }
        span {
          font-size: 14px;
          color: rgba(136, 136, 136, 1);
          font-weight: 400;
        }
      }
      div.buttons {
        .red {
          margin-left: 13px;
        }
      }
    }
  }
}
